body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.highlight{
    color: orange;
}
.half-width{
   width: 40%;
   float: left;
   margin-left:5%;
   padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.btn{
    background-image: linear-gradient(45deg , lightsalmon, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    
}

.top-part{
    background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}
section{
    height: 500px;
}
.down1{
    width: 40%;
    float: right;
    margin-right: 5%;
    padding-right:2%;
}
.down-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.down-part img{
    padding-top: 10%;
}
.single-exp{
    box-shadow: 10px 10px 50px gray;
    border-radius: 15px;
    height: 70%;
    background-color: white;
}
.experience{
    background-image: url(images/exp-bg.png);
   
    background-repeat: no-repeat;
    background-position:left;
}
#full-stack1{
    
    
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;

}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg , blue,cyan);
    border-image-slice: 1;
}
